{% include "header.html" %}

<head>
    <title>Czifra Adoryan • About</title>
</head>

<body>


<!-- Footer / About Section -->
<footer class="about">
    <h2>About</h2>
    <img src="static/images/avatar.png" class="w3-image w3-padding-32" width="300" height="300">
    <p class="about-p">Hello and welcome to my website! My name is Czifra Adoryan, and I am 20 years old. I am a
        First year Student, at West University of Timişoara, studying Digital Media.

        I am passionate about Music, Living a healthy lifestyle and coding. When I am not working or pursuing my passions, I like to travel in different locations of the world.

        I am mostly a self-taught developer, and I believe that my skills are well prepared
        for your tasks.

        Thank you for visiting my website, and I look forward to connecting with you!</p>

</footer>


{% include "footer.html" %}
</body>